<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluedigm.demo.api.commonCode.dao.CommonCodeMapper">
    
    <!-- 공통 코드 그룹 리스트 조회 -->
    <select id="selectCommonCodeGroupList" resultType="CommonCodeGroupModel">
		select *
		  from CD_GRP
    </select>
    
    <!-- 그룹 코드에 의한 공통 코드 리스트 조회 -->
    <select id="selectCommonCodeListByCdGrp" parameterType="String" resultType="CommonCodeModel">
		select	*
		  from	CD
		 where	GRP_CD_ID = #{grpCdId}
    </select>

</mapper>