<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluedigm.demo.api.menu.dao.ManagerMapper">
	
    <resultMap id="ManagerMap" type="Manager">
        <result property="adminId" column="ADMN_ID" />
        <result property="adminName" column="ADMN_NM" />
        <result property="adminPassword" column="ADMN_PW" />
        <result property="adminEmail" column="ADMN_EMAL" />
        <result property="adminPhone" column="ADMNPHNNUM" />
        <result property="deleteYn" column="DEL_YN" />
        <result property="corId" column="COR_ID" />
        <result property="corDt" column="COR_DT" />
        <result property="morId" column="MOR_ID" />
        <result property="morDt" column="MOR_DT" />
    </resultMap>	
	
	<select id="selectManagerList" resultMap="ManagerMap" parameterType="Manager">
		SELECT ADMN_NM, ADMN_PW, ADMN_EMAL, AR.ADMN_ID, ADMN_PHNNUM, DATE_FORMAT(AM.COR_DT,'%Y-%m-%d') COR_DT
          FROM ADMN_RULE AR
         INNER JOIN ADMN AM ON AR.ADMN_ID=AM.ADMN_ID
         
         ORDER BY COR_DT DESC
	</select>

</mapper>