<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluedigm.demo.api.menu.dao.MenuMapper">
	
    <resultMap id="MenuMap" type="Menu">
        <result property="menuId" column="MENU_ID" />
        <result property="prntMenuId" column="PRNT_MENU_ID" />
        <result property="menuName" column="MENU_NM" />
        <result property="menuUrl" column="MENU_URL" />
        <result property="menuDepth" column="MENU_DEPTH" />
        <result property="menuTypCd" column="MENU_TYPE_CD" />
        <result property="menuLvlNum" column="MENU_LVL_NUM" />
        <result property="menuExpl" column="MENU_EXPL" />
        <result property="menuOrder" column="ORD_SEQ" />
        <result property="displayYn" column="DSPLY_YN" />
        <result property="deleteYn" column="DEL_YN" />
        <result property="corId" column="COR_ID" />
        <result property="corDt" column="COR_DT" />
        <result property="morId" column="MOR_ID" />
        <result property="morDt" column="MOR_DT" />
    </resultMap>	
	
	 <select id="selectMenuList" resultType="com.bluedigm.demo.api.menu.model.SelectedMenu" >
	     SELECT MENU_ID 'KEY', MENU_NM TITLE, PRNT_MENU_ID PARENT
	       FROM MENU
	      WHERE DEL_YN='N'
	      	AND DSPLY_YN = 'Y' 
	      ORDER BY MENU_ID  
	 </select>

     <select id="selectMenuOne" parameterType="String" resultMap="MenuMap">
        SELECT MENU_ID, PRNT_MENU_ID, MENU_NM, MENU_URL, MENU_EXPL,DSPLY_YN
          FROM MENU
         WHERE DEL_YN='N' 
         	AND MENU_ID=#{menuId} 
 	 </select>

    <insert id="insertMenu" parameterType="Menu" >
        <selectKey resultType="String" keyProperty="menuId" order="BEFORE">
            SELECT IFNULL(MAX(MENU_ID),0)+1 FROM MENU
        </selectKey>    
        INSERT INTO MENU(
        	 MENU_ID
        	, PRNT_MENU_ID
        	, MENU_NM
        	, MENU_URL
        	, MENU_DEPTH
        	, MENU_TYPE_CD
        	, MENU_LVL_NUM
        	, MENU_EXPL
        	, ORD_SEQ
        	, DSPLY_YN
        	, DEL_YN
        	, COR_ID
        	, COR_DT
        	, MOR_ID
        	, MOR_DT
        )
        VALUES (
        	#{menuId}
        	, #{prntMenuId}
        	, #{menuName}
        	, #{menuUrl}
        	, #{menuDepth}
        	, #{menuTypCd}
        	, #{menuLvlNum}
        	, #{menuExpl}
        	, #{menuOrder}
        	, #{displayYn}
        	, 'N'
        	, #{corId}
        	, NOW()
        	, #{morId}
        	, NOW()
        )
    </insert>
    
    <update id="updateMenu" parameterType="Menu">
        UPDATE MENU
           SET MENU_NM = #{menuName}
        	, MENU_URL = #{menuUrl}
        	, MENU_DEPTH = #{menuDepth}
        	, MENU_TYPE_CD = #{menuTypCd}
        	, MENU_LVL_NUM = #{menuLvlNum}
        	, MENU_EXPL = #{menuExpl}
        	, ORD_SEQ = #{menuOrder}
        	, DSPLY_YN = #{displayYn}
        	, MOR_ID = #{morId}
        	, MOR_DT = NOW()
         WHERE MENU_ID = #{menuId}
    </update> 

    <delete id="deleteMenu" parameterType="String">
        UPDATE MENU
           SET DEL_YN='Y'
         WHERE MENU_ID=#{menuId}
    </delete> 

</mapper>