<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluedigm.demo.api.sample.dao.SampleMapper">

	<select id="selectSample" resultType="SampleModel">
		select *
		  from ADMN
    </select>

	<select id="insertSample" parameterType="SampleModel">
		INSERT INTO ADMN
			(ADMN_ID, ADMN_NM, ADMN_PW, ADMN_EMAL, ADMN_PHNNUM, DEL_YN, COR_ID, COR_DT, MOR_ID, MOR_DT)
			VALUES (#{ADMN_ID}, #{ADMN_NM}, #{ADMN_PW}, #{ADMN_EMAL}, #{ADMN_PHNNUM}, #{DEL_YN}, 'admin', #{COR_DT}, 'amdin', now());
    </select>

</mapper>